* {
	margin: 0px;
	padding: 0px;
}

.header {
	width: 1000px;
	height: 100px;
	background-color: pink;
}

.header h3 {
	display: inline-block;
	font-size: 75px;
}

.header a {
	display: inline-block;
	vertical-align: top;
}

.main {
	margin-left: 500px;
}

.left_side {
	border: solid;
	display: inline-block;
	width: 500px;
}

.right_side {
	border: solid;
	display: inline-block;
	width: 485px;
	vertical-align: top;
}

img {
	height: 40px;
}

.main_img {
	height: 200px;
	display: block;
	margin-top: 20px;
}

ol {
	margin-left: 20px;
	display: block;
}

li {
	display: inline-block;
}

.hobbies {
	border: solid;
	padding: 10px;
}

.strengths {
	border: solid;
	padding: 10px;
}



