<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIP</title>
</head>

<body>
    <img class="logo" src="https://mir-cdn.behance.net/v1/rendition/project_modules/disp/70702f63826029.5abd519e04f31.png" alt="nip_logo"
    />
    <div class="header">
        <a class="home" href="#" class="main">Home</a>
        <a class="profile" href="#">Profile</a>
        <a class="logout" href="#">Logout</a>
    </div>

        <div class="site_search_who">
            <h2>Who do you want to find?</h2>
            <form>
                <input type="search" name="tutor_search" class="search_bar" size="100">
                <button class="submit" type="submit">Submit</button>
            </form>
        </div>
</body>
</html>